---
import HistoryPage from '../components/HistoryPage.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout title="History">
  <main>
    <HistoryPage client:only="vue" />
  </main>
</Layout>
